# Roble project code
ROBLE_DB_NAME=evalun_2554366

# App display name
APP_NAME=EvalUN

ROBLE_AUTH_BASE_URL=https://roble-api.openlab.uninorte.edu.co/auth
ROBLE_DATA_BASE_URL=https://roble-api.openlab.uninorte.edu.co/database

# Password shared for student auth accounts created during CSV import
ROBLE_STUDENT_DEFAULT_PASSWORD=Password123!
